a {
    text-decoration: none;
}

nav {
    background-color: #49013a;
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media (min-width: 520px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
}

@media (min-width: 1024px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }
}


@media (min-width: 1244px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-items: center;
    }
}


footer {
    background-color: #49013a; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; 
}

footer a:hover {
    text-decoration: underline;
}

.bi {
    font-size: 1.5rem;
    margin-left: 20px;
}

