a {
    text-decoration: none;
}

nav {
    background-color: #49013a;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 30px;
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media (min-width: 520px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
}

@media (min-width: 1024px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }
}


@media (min-width: 1244px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-items: center;
    }
}

/* footer */

footer {
    margin-top: 50px;
    background-color: #49013a;
    width: 100%; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; 
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 512px) {
    .col-md-4.text-center {
    text-align: center;
    }
    .list-unstyled.text-center li {
    text-align: center;
    }
}

@media (min-width: 1024px) {
    .col-md-4.text-center {
    text-align: center;
    }
    .list-unstyled.text-center li {
    text-align: center;
    }
}

@media (min-width: 1600px) {
    .col-md-4.text-center {
    text-align: center;
    }
    .list-unstyled.text-center li {
    text-align: center;
    }
}

.bi {
    font-size: 1.5rem;
    margin-left: 20px;
}

/* login */

.login {
    margin-top: 250px;
}
.formulario-login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;

}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.signup-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

/* registro */

.registro {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 150px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* terminos condiciones */

.terminos-condiciones ol {
    list-style: none;

}

.terminos-condiciones h2 {
    font-size: 25px;
    font-style:italic;
    color: #49013a;
}

.terminos-condiciones p {
    font-size: 20px;
    color: #49013a;
}

/* logo pie pag - terminos y condiciones- polit devo- politica priv*/

.logo-redondo-pie {
    width: 200px;
    display: flex;
    margin: 0 auto;

}

/* politica devolucion*/

.politica-devolucion ul,ol {
    list-style: none;

}

.politica-devolucion h2 {
    font-size: 25px;
    font-style:italic;
    color: #49013a;
}

.politica-devolucion p,li {
    margin-top: 15px;
    font-size: 20px;
    color: #49013a;
}

/* politicas privacidad */

.politicas-privacidad h2 {
    font-size: 25px;
    font-style:italic;
    color: #49013a;
}

.politicas-privacidad p,li {
    margin-top: 15px;
    font-size: 20px;
    color: #49013a;
}

/* Pagina producto */

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 400px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 418px) {
    .product-details {
        max-width: 100%;
    }
}

