a {
    text-decoration: none;
}

nav {
    background-color: #49013a;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 30px;
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media (min-width: 520px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
}

@media (min-width: 1024px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }
}


@media (min-width: 1244px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        justify-items: center;
    }
}

/* footer */

footer {
    margin-top: 50px;
    background-color: #49013a;
    width: 100%; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; 
}

footer a:hover {
    text-decoration: underline;
}

.bi {
    font-size: 1.5rem;
    margin-left: 20px;
}

/* login */

.login {
    margin-top: 250px;
}
.formulario-login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;

}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.signup-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

/* registro */

.registro {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 150px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}